#about-container {
    display: flex;
    flex-flow: column;
    width: 100vw;
    overflow: hidden;
}

/* #about-container h1 {
    margin-top: 50px;
} */

#about-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 25px;
}

#about-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#about-me-img {
    height: calc(100% * (1/2) - 10px);
    width: calc(100% * (1/2) - 10px);
    background-size: contain;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

#about-content p {
    padding-right: 100px;
}

@media only screen and (max-width: 900px) {

    #about-wrapper {
        flex-flow: column-reverse;
        align-self: center;
        width: 80vw;
        margin: 0;
        margin-top: 25px;
    }

    #about-me-img {
        height: auto;
        width: 80vw;
    }

    #about-content p {
        padding: 0px;
    }
}