.communities-section {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    height: auto;
    width: 100vw;
    background-color: #FFFAFA;
    position: relative;
    overflow: hidden;
}

.communities-section h1 {
    margin-left: 100px;
    padding-top: 0px;
}

.communities-wrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

.community {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    max-width: 370px;
    width: calc(100% * (1/3) - 50px);
}

.community-img {
    height: auto;
    width: 100%;
    background-size: contain;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
}

.community h4 {
    margin-top: 25px;
    font-family: Lato;
    font-weight: 400;
    font-size: 3vw;
    margin-bottom: 0px;
}

.community p {
    padding: 0px;
}

.community img {
    height: auto;
    width: 100%;
    background-size: contain;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
}

.community a {
    text-decoration: none;
    color: #B09A50;
    font-family: Lato;
    font-weight: 200;
    font-size: 20px;
}

.community a img {
    margin-left: 8px;
    height: 14px;
    width: 14px;
    box-shadow: none;
    vertical-align: middle;
}

@media only screen and (max-width: 900px) {
    .communities-section {
        margin: 0;
    }
    .communities-wrapper {
        flex-flow: column;
        margin-right: 0;
        align-items: center;
        margin-left: 0px;
    }

    .communities h1 {
        padding-left: 0px;
    }

    .communities-section h1 {
        margin-left: 0px;
        padding-top: 0px;
    }

    .community {
        width: 80vw;
    }

    .community h4 {
        font-size: 24px;
    }

    .communities-section h1 {
        padding-left: 25px;
    }
}