h1 {
    display: flex;
    margin: 0px;
    width: 100%;
    text-align: left;
    font-family: 'Prata', serif;
    font-size: 4vw;
    font-weight: 400;
    color: #231F20;
    margin-top: 100px;
    overflow: hidden;
}
  
  /* h1:after {
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #B09A50;
    position: relative;
    top: 0.6em;
    margin-left: 25px;
  } */

p {
    /* max-width: 700px; */
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    line-height: 1.6em;
}

h1 hr {
    width: 100%;
    align-self: center;
    margin-left: 25px;
    border: none;
    background-color: #b09a4f;
}
