#hero-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* width: 100vw; */
    /* position: relative; */
    background-image: url("../hero-image@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nav {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-button {
    padding-right: 50px;
    text-decoration: none;
    color: #231F20;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#title {
    margin: auto;
    height: auto;
    width: auto;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 4vw;
    color: #231F20;
}

#contact-info {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .title {
        font-size: 24px;
    }
    #nav {
        justify-content: space-evenly;
        padding-top: 25px;
    }
    .nav-button {
        padding-right: 0;
        font-size: 12px;
    }

    .title {
        width: 80vw;
    }

    .contact-link {
        font-size: 4vw;
    }
}