#services-container {
    display: flex;
    flex-flow: column;
    width: 100vw;
    margin-bottom: 100px;
    background-color: #FFFAFA;
    position: relative;
    overflow: hidden;
}

#services {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 25px;
}

.service {
    display: flex;
    flex-flow: column;
    max-width: 370px;
    width: calc(100% * (1/3) - 50px);
}

@media only screen and (max-width: 900px) {
    #services-container {
        margin: 0;
    }

    #services {
        flex-flow: column;
        align-items: center;
    }

    .service {
        margin-bottom: 50px;
        width: 80vw;
    }

}