
#why-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    background-color: #FFFAFA;
    position: relative;
    overflow: hidden;
}

#why-paragraph {
    margin-left: 100px;
    width: calc(100% * (1/2) - 50px);
}

#why-image {
    position: absolute;
    max-width: 33%;
    right: 50px;
    top: 20%;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#stats-container {
    background-color: rgba(176, 154, 80, 0.4);
}

#stats-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% * (1/2) - 50px);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
}

#stat {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#stat-number {
    font-size: 4vw;
    font-family: 'Prata';
}

#stat-text {
    font-size: 1vw;
    font-family: 'Lato';
    font-weight: 200
}

@media only screen and (max-width: 900px) {
    #why-image {
        position: static;
        align-self: center;
        max-width: 100%;
        width: 80vw;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #why-paragraph {
        width: 80vw;
        margin-left: 0px;
        align-self: center;
    }

    #stat-number {
        font-size: 10vw;
    }

    #stat-text {
        font-size: 3vw;
    }

    #stats-wrapper {
        margin-left: 0px;
        max-width: none;
        justify-content: space-around;
    }
}