.Why {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 100vw;
    background-color: #FFFAFA;
    position: relative;
    overflow: hidden;
}

h1 {
    display: flex;
    /* position: absolute; */
    margin: 0px;
    width: 100%;
    text-align: left;
    font-family: 'Prata', serif;
    font-size: 6vw;
    font-weight: 400;
    color: #231F20;
    /* padding-left: 50px; */
    padding-top: 100px;
    overflow: hidden;
}
  
  h1:after {
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #B09A50;
    position: relative;
    top: 0.6em;
    margin-left: 25px;
  }

/* .line {
    background-color: #B09A50;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    margin-top: 125px;
    margin-left: 150px;
    overflow: hidden;
} */

.gold-block {
    flex-grow: 1;
    display: flex;
    max-height: 200px;
    content: '\a0';
    background-color: rgb(176, 154, 80, 0.4);
    /* position: absolute; */
    width: 100%;
    /* margin-top: 450px; */
    margin-bottom: 50px;
    left: 0px;
}

.stat {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-right: 9vw; */
}

#stat-number {
    font-size: calc(6vw);
    font-family: 'Prata';
}

#stat-text {
    font-size: calc(0.7vw + 0.1vh + 0.7vmin);
    font-family: 'Lato';
    font-weight: 200
}

.stat-wrapper {
    display: flex;
    align-content: center;
    width: 100%;
    max-width: calc(100vw - 470px);
    /* margin-left: 50px; */
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.body {
    display: flex;
    flex-flow: column;
    padding-left: 50px;
}

p {
    /* padding-top: 175px; */
    padding-right: 490px;
    max-width: 700px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    line-height: 1.6em;
}

img {
    position: absolute;
    /* padding-top: 50px; */
    background-size: contain;
    width: 440px;
    right: 50px;
    top: 50px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

@media only screen and (max-width: 900px) {
    .Why {
        height: auto;
    }

    h1 {
        /* position: static; */
        width: auto;
        font-size: 24px;
        padding-left: 25px;
        padding-top: 25px;
    }

    h1:after {
        margin-left: 8px;
    }

    img {
        position: static;
        padding-top: 0px;
        max-width: 100%;
        align-self: center;
    }

    .body {
        /* flex-direction: column-reverse; */
        padding: 0;
    }

    p {
        /* padding-top: 0px; */
        padding-right: 25px;
        padding-left: 25px;
        
    }

    .gold-block {
        margin: 0px;
        position: static;
    }

    #stat-number {
        font-size: 10vw;
    }

    #stat-text {
        font-size: 3vw;
    }

    .stat-wrapper {
        margin-left: 0px;
        max-width: none;
    }
}